<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Partiu BH?</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/31f005c4d5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/style2.css" />
        <link rel="stylesheet" href="../css/responsive.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png"/>
        <link rel="icon" type="../image/png" sizes="32x32" href="../img/favicon-32x32.png"/>
        <link rel="icon" type="../image/png" sizes="16x16" href="../img/favicon-16x16.png"/>
        <link rel="manifest" href="/site.webmanifest" />	
    </head>
    <body onload='if (window.location.href.substr(window.location.href.length - 6) == "#about") { introAboutLogoTransition(); }'>
        <!-- Barra de Navegação-->
        <nav class="navbar glass" style="height: 70px">
            <span>
                <a href="#inicio" style="display: flex; align-items: center">
                   <h1 class="logo">&nbsp;Partiu BH?</h1>
                   <img class="img2" src="../img/logo.png" width="60" style="margin: -25px -20px -25px -10px"/></a>
            </span>
            <ul class="nav-links">
                <li>
                    <a href="../index.html#inicio" id="pri" class="active cir_border">Ínicio</a>
                </li>
                <li><a href="../index.html#historia" id="sec" class="cir_border">História</a></li>
                <li>
                    <a href="../index.html#conhecer" id="tri" class="cir_border">Conhecer</a>
                </li>
                <li>
                    <a href="../index.html#ondeir" id="quad" class="cir_border">Onde Ir</a>
                </li>
                <li><a href="../index.html#informacoes" id="quint" class="cir_border">Informações</a></li>
                </li>
                <li><a href="../index.html#contribution" id="sext" class="cir_border">Criadores</a></li>
                </li>
            </ul>
            <img src="../img/menu-btn.png" alt="" class="menu-btn" />
        </nav>
        <!--Barra de Navegação-->
		
		<!--Titulo -->
		<div class="container margin-menu restaurante-container">
            <div class="title texto-container">
				<h1> Bares & Botecos:  </h1>
                <h3> Belo Horizonte </h3>
                <div class="line"></div>	
            </div>
			
			<div class="container bar_filtro"> 
				<div>
					
					<button class="card-button"><i class="fa-solid fa-sliders"></i> Todos os Filtros </button>
				</div>
				<div>
					<button class="card-button"> Ver Tudo </button>
				</div>
			</div>
		</div>
		

		<div class="container bares-conteudo">
				<!-- Barra Lateral -->
				<aside class="sidebar">
					<div class="box">
						<h3>Categorias</h3>
						<ul>
							<li><input type="checkbox" id="#"> <label for="#">Bares</label></li>
							<li><input type="checkbox" id="#"> <label for="#">Botecos</label></li>
							<li><input type="checkbox" id="#"> <label for="#">Casas Noturna</label></li>
							
							<div class="line2"></div>
							
							<li></li>
							<li><input type="checkbox" id="#"> <label for="#">Música Ao Vivo</label></li>
						</ul>
					</div>
					<div  class="box">
						<button class="card-button"> Mostrar Mais </button>
					</div>
				</aside>

				<!-- Conteúdo Principal -->
				<main class="content">
					<!-- Linha de 3 Melhores Bares/Botecos -->
					<div class="cards-bar">
						<div class="card-bar">
							
							<img src="../img/bares/jack-rock-bar-1.jpg" alt="Passeio Privativo">
							<div class="card-bar-corpo">
								<h2>Jack Rock Bar</h2>
								<p>Recomendado por 98% dos viajantes</p>
								<p>Bar com música ao vivo</p>
								<p>Serve ótimos coquetéis</p>
							</div>
							<a href="./jack-rock-bar.html">
								<div  class="box">
									<button class="card-button"> Mostrar Mais </button>
								</div>
							</a>
						</div>
						<div class="card-bar">
							<img src="../img/bares/dduck-dclub-1.jpg" alt="City Tour">
							<div class="card-bar-corpo">
								<h2>DDuck DClub</h2>
								<p>Recomendado por 95% dos viajantes</p>
								<p>Casa noturna</p>
								<p>Serve ótimos coquetéis</p>
							</div>
							<a href="./dduck-dclub.html">
								<div  class="box">
									<button class="card-button"> Mostrar Mais </button>
								</div>
							</a>
						</div>
						<div class="card-bar">
							<img src="../img/bares/cachacaria-lamparina-1.jpg" alt="Passeio Privativo">
							<div class="card-bar-corpo">
								<h2>Cachaçaria Lamparina</h2>
								<p>Recomendado por 94% dos viajantes</p>
								<p>Serve ótimos coquetéis </p>
								<p>Não aceita reservas</p>
							</div>
							<a href="./cachacaria-lamparina.html">
								<div  class="box">
									<button class="card-button"> Mostrar Mais </button>
								</div>
							</a>
						</div>
					</div>
					<div class="line2"></div>
					<!-- Card de Baixo -->
					<div class="card-longo">
						<div class="card-longo-corpo">
							<img src="../img/bares/under-black-pub-1.jpg" alt="Underground Black Pub">
							<div class="detalhes">
								<h2>Underground Black Pub</h2>
								<p>Recomendado por 95% dos viajantes</p>
								<p> Serve ótimos coquetéis </p>
								<p>Tem música ao vivo</p>
								<button class="card-button">Saber mais</button>
							</div>
						</div>
						<div class="card-longo-corpo">
							<img src="../img/bares/major-lock-pub-1.jpg" alt="Major Lock Pub">
							<div class="detalhes">
								<h2>Major Lock Pub</h2>
								<p>Recomendado por 98% dos viajantes</p>
								<p>Tem música ao vivo</p>
								<p>Serve ótimos coquetéis</p>
								<button class="card-button">Saber mais</button>
							</div>
						</div>
						<div class="card-longo-corpo">
							<img src="../img/bares/bar-pirex-1.jpg" alt="DDuck DClub">
							<div class="detalhes">
								<h2>Bar Pirex</h2>
								<p>Recomendado por 93% dos viajantes</p>
								<p>Serve ótimos coquetéis</p>
								<p>Serve comida no bar</p>
								<button class="card-button">Saber mais</button>
							</div>
						</div>
						<div class="card-longo-corpo">
							<img src="../img/bares/clube-chalezinho-1.jpg" alt="Clube Chalezinho">
							<div class="detalhes">
								<h2>Clube Chalezinho</h2>
								<p>Recomendado por 89% dos viajantes</p>
								<p>Casa noturna espaçosa</p>
								<p>Shows e gastronomia gourmet</p>
								<button class="card-button">Saber mais</button>
							</div>
						</div>
						<div class="card-longo-corpo">
							<img src="../img/bares/a-obra-bar-1.jpg" alt="A Obra Bar">
							<div class="detalhes">
								<h2>A Obra Bar</h2>
								<p>Recomendado por 98% dos viajantes</p>
								<p>Tem música ao vivo</p>
								<p>Serve ótimos coquetéis</p>
								<button class="card-button">Saber mais</button>
							</div>
						</div>
					</div>
				</main>
			</div>

			<!-- Carrosel -->
			<div class="container mais_pontos">
				<div id="slide_pturisticos" class="slide_pturisticos">
					<h2 class="title"> Mais lugares para explorar em Belo Horizonte</h2>
					<div class="title">
						<h2 class="dark">Confira também</h2>
						<div class="line"></div>
					</div>
					<div class="wrapper">
						<div id="slides" class="slides">
							<div class="slide">
								<a href="./bares-e-botecos.html">
									<img src="../img/pontos-turisticos/slide-bares.jpg" alt="Slide 1">
									<div class="info">
										<h1>Bares e Botecos </h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
						
							<div class="slide">
								<a href="./cafeterias-padarias.html">
									<img src="../img/pontos-turisticos/slide-cafeterias.jpg" alt="Slide 2">
									<div class="info">
										<h1> Cafeterias e Padarias </h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
							<div class="slide">
								<a href="./feiras-livres.html">
									<img src="../img/pontos-turisticos/slide-feiras.jpg" alt="Slide 1">
									<div class="info">
										<h1>Feiras Livres</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>			
							<div class="slide">
								<a href="./mercados-locais.html">
									<img src="../img/pontos-turisticos/slide-mercados.jpg" alt="Slide 2">
									<div class="info">
										<h1>Mercados Locais</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
							<div class="slide">
								<a href="./restaurantes-mineiros.html">
									<img src="../img/pontos-turisticos/slide-restaurantes.jpg" alt="Slide 1">
									<div class="info">
										<h1>Restaurantes Mineiros</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
						</div>
					</div>
					<a id="prev" class="control prev">←</a>
					<a id="next" class="control next">→</a>
				</div> 
			</div>
			<!-- Fim Carrosel -->

			<footer>
				<div id="footer_content">
					<div id="footer_contacts">
						<h1>Partiu BH?</h1>
						<p>Encantos, Sabores e Histórias em Cada Esquina!</p>
		
						<div id="footer_social_media">
							<a href="#" class="footer-link" id="instagram">
								<i class="fa-brands fa-instagram"></i>
							</a>
		
							<a href="#" class="footer-link" id="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
		
							<a href="#" class="footer-link" id="whatsapp">
								<i class="fa-brands fa-whatsapp"></i>
							</a>
						</div>
					</div>
					
					<ul class="footer-list">
						<li>
							<h3>Ajuda</h3>
						</li>
						<li>
							<a href="#" class="footer-link">Mapa</a>
						</li>
						<li>
							<a href="#" class="footer-link">Saúde</a>
						</li>
						<li>
							<a href="#" class="footer-link">Segurança</a>
						</li>
					</ul>
		
					<ul class="footer-list">
						<li>
							<h3>Assuntos</h3>
						</li>
						<li>
							<a href="#" class="footer-link">Blog</a>
						</li>
						<li>
							<a href="#" class="footer-link">Notícias</a>
						</li>
						<li>
							<a href="#" class="footer-link">Agenda de Eventos</a>
						</li>
					</ul>
		
					<div id="footer_subscribe">
						<h3>Inscreva-se</h3>
		
						<p>
							Insira seu e-mail abaixo para ser
							notificado sobre novidades e eventos
						</p>
		
						<div id="input_group">
							<input type="email" id="email">
							<button>
								<i class="fa-regular fa-envelope"></i>
							</button>
						</div>
					</div>
				</div>
		
				<div id="footer_copyright">
					&#169
					2024 all rights reserved
				</div>
			</footer>		



		<script>
			const menuBtn = document.querySelector(".menu-btn");
			const navlinks = document.querySelector(".nav-links");

			menuBtn.addEventListener("click", () => {
				navlinks.classList.toggle("mobile-menu");
			});
											
		//** Carrosel			
			let currentIndex = 0; 
			const slides = document.querySelectorAll('.slide'); 
			const totalSlides = slides.length; 
			const slideWrapper = document.querySelector('.wrapper'); 
		
			const slideWidth = 283; 
			const slidesVisible = 4; 

			// Função para mover o slide
			function moveSlide(direction) {
				currentIndex += direction;

				
				if (currentIndex >= totalSlides - slidesVisible + 1) {
					currentIndex = 0;
				} else if (currentIndex < 0) {
					currentIndex = totalSlides - slidesVisible;
				}		
				slideWrapper.style.transform = `translateX(-${currentIndex * slideWidth}px)`; 
			}

			// Controle automático do slide
			function autoSlide() {
				setInterval(() => {
					moveSlide(1); 
				}, 5000); 
			}

			// Navegação
			document.getElementById('prev').addEventListener('click', () => moveSlide(-1)); 
			document.getElementById('next').addEventListener('click', () => moveSlide(1));  

			autoSlide();
		
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
