<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Partiu BH?</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/style2.css" />
        <link rel="stylesheet" href="../css/responsive.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png"/>
        <link rel="icon" type="../image/png" sizes="32x32" href="../img/favicon-32x32.png"/>
        <link rel="icon" type="../image/png" sizes="16x16" href="../img/favicon-16x16.png"/>
        <link rel="manifest" href="/site.webmanifest" />	
    </head>
    <body onload='if (window.location.href.substr(window.location.href.length - 6) == "#about") { introAboutLogoTransition(); }'>
        <!-- Barra de Navegação-->
        <nav class="navbar glass" style="height: 70px">
            <span>
                <a href="#inicio" style="display: flex; align-items: center">
                   <h1 class="logo">&nbsp;Partiu BH?</h1>
                   <img class="img2" src="../img/logo.png" width="60" style="margin: -25px -20px -25px -10px"/></a>
            </span>
            <ul class="nav-links">
                <li>
                    <a href="../index.html#inicio" id="pri" class="active cir_border">Ínicio</a>
                </li>
                <li><a href="../index.html#historia" id="sec" class="cir_border">História</a></li>
                <li>
                    <a href="../index.html#conhecer" id="tri" class="cir_border">Conhecer</a>
                </li>
                <li>
                    <a href="../index.html#ondeir" id="quad" class="cir_border">Onde Ir</a>
                </li>
                <li><a href="../index.html#informacoes" id="quint" class="cir_border">Informações</a></li>
                </li>
                <li><a href="../index.html#contribution" id="sext" class="cir_border">Criadores</a></li>
                </li>
            </ul>
            <img src="../img/menu-btn.png" alt="" class="menu-btn" />
        </nav>
        <!--Barra de Navegação-->
		
		<!-- Campo Texto  -->		
		<div class="texto-container">
			<div class="title texto-container">
				<h1> História – Belo Horizonte (MG) </h1>
				<div class="line"></div>	
			</div>

			<div class="galeria">
				<div class="main">
					<img src="../img/bh.png" alt="Mercado Central" class="main-image"> 
				</div>
			</div>

			<div id="texto" class="texto">	
				<p>Em 1701, o bandeirante João Leite da Silva Ortiz chegou à Serra de Congonhas à procura de ouro. Em lugar do metal, encontrou uma 
				bela paisagem, de clima ameno e próprio para a agricultura. Resolveu ficar e construiu a Fazenda do Cercado, onde desenvolveu uma 
				pequena plantação e criou gado. O progresso da fazenda logo atraiu outros moradores e um arraial começou a se formar em seu redor.
				 Viajantes que por ali passavam, conduzindo o gado da Bahia em direção às minas de ouro e pedras preciosas, fizeram da região um ponto 
				 de parada. O povoado foi batizado de Curral del Rei.</p>

				<p>Aos poucos, o Curral del Rei cresceu apoiado na pequena lavoura, criação e comercialização de gado e fabricação de farinha. 
				Algumas poucas fábricas, ainda primitivas, instalaram-se na região: produzia-se algodão, fundia-se ferro e bronze. Das pedreiras,
				 extraía-se granito e calcário. Frutas e madeiras eram vendidas para outros locais. Com a decadência da mineração, o arraial se expandiu.
				 Das 30 ou 40 famílias existentes no início, a população saltou para a de 18 mil habitantes.</p>

				<p>Elevado à condição de Freguesia, mas ainda subordinado à Sabará, Curral del Rei englobava as regiões de Sete Lagoas, Contagem, 
				Santa Quitéria (Esmeraldas), Buritis, Capela Nova do Betim, Piedade do Paraopeba, Brumado Itatiaiuçu, Morro de Mateus Leme, Neves,
				 Aranha e Rio Manso. Vieram as primeiras escolas, o comércio se desenvolveu. No centro do arraial, os devotos ergueram a Matriz de 
				 Nossa Senhora da Boa Viagem.</p>

				<p>O Distrito foi criado com a denominação de Nossa Senhora da Boa Viagem do Curral del Rey, por Ordem Régia de 1750 e, em 1890,
				 renomeado como Belo Horizonte. Elevada à categoria de município e Capital de Minas Gerais, com a denominação de Cidade de Minas,
				 em 1893, e passou a denominar-se Belo Horizonte, em 1901. Ocorreram sucessivas divisões administrativas e desmembramentos desse 
				 território, sem que houvesse mudança no nome da cidade.</p>			
				<div id="maisTexto" class="texto-oculto">

					<p>O ciclo de prosperidade durou pouco e diversas regiões que constituíram o antigo arraial se tornaram autônomas. Rapidamente, 
					a população diminuiu e a economia local entrou em decadência. No final do século XIX, restavam cerca de quatro mil habitantes. 
					Com a Proclamação da República, em 1889, cresce a esperança de transformações. Para entrar na era que então se anunciava, deixando 
					para trás o passado monárquico, os sócios do Clube Republicano de Curral del Rei propuseram a mudança de seu nome para Belo Horizonte. 
					Nesse clima de euforia, os horizontinos receberam a notícia da construção da nova capital.</p>

					<p>Mudança da capital de Ouro Preto para Belo Horizonte - A primeira tentativa de transferir a sede do Governo de Minas para uma
					 cidade diferente de Ouro Preto data de 1789, quando os inconfidentes planejaram instalar a capital de sua república em São João del Rei.
					 Depois disso, mais quatro tentativas foram feitas, todas fracassadas. A questão só veio a ser considerada após a Proclamação da República 
					 e, dessa vez, não seria uma simples transferência, mas a construção de uma nova cidade.</p>

					<p>Em 1891, o Presidente do Estado, Augusto de Lima, determinou - por decreto - a transferência da capital para um lugar que
					 oferecesse condições precisas de higiene. Adicionada à Constituição Estadual, a lei provocou muitos protestos da população ouropretana. 
					 Os mineiros dividiram-se entre os 'mudancistas', favoráveis à nova capital, e os 'não mudancistas'. Cada um desses grupos fundou seu jornal, 
					 promovendo reuniões e debates.</p>

					<p>O Governo Estadual, enfrentando essas disputas, criou uma Comissão de Estudos para indicar, dentre cinco localidades, 
					a mais adequada para a construção da nova cidade e Belo Horizonte venceu. Em 17 de dezembro de 1893, com a Lei Nº 3 adicionada à
					 Constituição Estadual, a sede do Governo transferiu-se para Belo Horizonte, onde a nova capital deveria ser inaugurada. 
					 A mesma Lei criou a Comissão Construtora formada por técnicos responsáveis pelo planejamento e execução das obras, dentre
					 os quais estavam alguns dos melhores engenheiros e arquitetos do Brasil, chefiados por Aarão Reis. Belo Horizonte foi inaugurada, 
					 ainda em construção, no dia 12 de dezembro de 1897.</p>		
				</div>
			</div>
			<button id="btnTexto" class="card-button">Ler mais</button>
		</div>
		<!-- Fim do Campo de Texto -->

			<!-- Carrosel -->
			<div class="container mais_pontos">				<div class="title">
						<h2 class="dark">Lugares para explorar em Belo Horizonte</h2>
						<div class="line"></div>
					</div>
				<div id="slide_pturisticos" class="slide_pturisticos">
	
					<div class="wrapper">
						<div id="slides" class="slides">
							<div class="slide">
								<a href="./pontos-turisticos.html">
									<img src="../img/explorar-pontoturistico.jpg" alt="Slide 1">
									<div class="info">
										<h1>Pontos Turisticos</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
							<div class="slide">
								<a href="./bares-e-botecos.html">
									<img src="../img/pontos-turisticos/slide-bares.jpg" alt="Slide 1">
									<div class="info">
										<h1>Bares e Botecos </h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
							<div class="slide">
								<a href="./restaurantes-mineiros.html">
									<img src="../img/pontos-turisticos/slide-restaurantes.jpg" alt="Slide 1">
									<div class="info">
										<h1>Restaurantes Mineiros</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>						
							<div class="slide">
								<a href="./cafeterias-padarias.html">
									<img src="../img/pontos-turisticos/slide-cafeterias.jpg" alt="Slide 2">
									<div class="info">
										<h1> Cafeterias e Padarias </h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
							<div class="slide">
								<a href="./feiras-livres.html">
									<img src="../img/pontos-turisticos/slide-feiras.jpg" alt="Slide 1">
									<div class="info">
										<h1>Feiras Livres</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>			
							<div class="slide">
								<a href="./mercados-locais.html">
									<img src="../img/pontos-turisticos/slide-mercados.jpg" alt="Slide 2">
									<div class="info">
										<h1>Mercados Locais</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
						</div>
					</div>
					<a id="prev" class="control prev">←</a>
					<a id="next" class="control next">→</a>
				</div> 
			</div>
			<!-- Fim Carrosel -->
			
			<!-- Roda pé -->
			<footer>
				<div id="footer_content">
					<div id="footer_contacts">
						<h1>Partiu BH?</h1>
						<p>Encantos, Sabores e Histórias em Cada Esquina!</p>
		
						<div id="footer_social_media">
							<a href="#" class="footer-link" id="instagram">
								<i class="fa-brands fa-instagram"></i>
							</a>
		
							<a href="#" class="footer-link" id="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
		
							<a href="#" class="footer-link" id="whatsapp">
								<i class="fa-brands fa-whatsapp"></i>
							</a>
						</div>
					</div>
					
					<ul class="footer-list">
						<li>
							<h3>Ajuda</h3>
						</li>
						<li>
							<a href="#" class="footer-link">Mapa</a>
						</li>
						<li>
							<a href="#" class="footer-link">Saúde</a>
						</li>
						<li>
							<a href="#" class="footer-link">Segurança</a>
						</li>
					</ul>
		
					<ul class="footer-list">
						<li>
							<h3>Assuntos</h3>
						</li>
						<li>
							<a href="#" class="footer-link">Blog</a>
						</li>
						<li>
							<a href="#" class="footer-link">Notícias</a>
						</li>
						<li>
							<a href="#" class="footer-link">Agenda de Eventos</a>
						</li>
					</ul>
		
					<div id="footer_subscribe">
						<h3>Inscreva-se</h3>
		
						<p>
							Insira seu e-mail abaixo para ser
							notificado sobre novidades e eventos
						</p>
		
						<div id="input_group">
							<input type="email" id="email">
							<button>
								<i class="fa-regular fa-envelope"></i>
							</button>
						</div>
					</div>
				</div>
		
				<div id="footer_copyright">
					&#169
					2024 all rights reserved
				</div>
			</footer>		

	
        <script>
			const menuBtn = document.querySelector(".menu-btn");
			const navlinks = document.querySelector(".nav-links");

			menuBtn.addEventListener("click", () => {
				navlinks.classList.toggle("mobile-menu");
			});
			
				
		//**Ocultar conteudo do paragrafo*/
			document.getElementById('btnTexto').addEventListener('click', function() {
			  var maisTexto = document.getElementById('maisTexto');
			  var botao = document.getElementById('btnTexto');
			  var texto = document.getElementById('texto');
			  
			  if (maisTexto.style.display === 'none' || maisTexto.style.display === '') {
				maisTexto.style.display = 'inline';
				botao.textContent = 'Ler menos';
				texto.classList.remove('com-fade');
			  } else {
				maisTexto.style.display = 'none';
				botao.textContent = 'Ler mais';
				texto.classList.add('com-fade');
			  }
			});
				

		//** Carrosel			
			let currentIndex = 0; 
			const slides = document.querySelectorAll('.slide'); 
			const totalSlides = slides.length; 
			const slideWrapper = document.querySelector('.wrapper'); 
		
			const slideWidth = 283; 
			const slidesVisible = 4; 

			// Função para mover o slide
			function moveSlide(direction) {
				currentIndex += direction;

				
				if (currentIndex >= totalSlides - slidesVisible + 1) {
					currentIndex = 0;
				} else if (currentIndex < 0) {
					currentIndex = totalSlides - slidesVisible;
				}		
				slideWrapper.style.transform = `translateX(-${currentIndex * slideWidth}px)`; 
			}

			// Controle automático do slide
			function autoSlide() {
				setInterval(() => {
					moveSlide(1); 
				}, 5000); 
			}

			// Navegação
			document.getElementById('prev').addEventListener('click', () => moveSlide(-1)); 
			document.getElementById('next').addEventListener('click', () => moveSlide(1));  

			autoSlide();	
		</script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
