<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Partiu BH?</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/31f005c4d5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/style2.css" />
        <link rel="stylesheet" href="../css/responsive.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png"/>
        <link rel="icon" type="../image/png" sizes="32x32" href="../img/favicon-32x32.png"/>
        <link rel="icon" type="../image/png" sizes="16x16" href="../img/favicon-16x16.png"/>
        <link rel="manifest" href="/site.webmanifest" />	
    </head>
    <body onload='if (window.location.href.substr(window.location.href.length - 6) == "#about") { introAboutLogoTransition(); }'>
        <!-- Barra de Navegação-->
        <nav class="navbar glass" style="height: 70px">
            <span>
                <a href="#inicio" style="display: flex; align-items: center">
                   <h1 class="logo">&nbsp;Partiu BH?</h1>
                   <img class="img2" src="../img/logo.png" width="60" style="margin: -25px -20px -25px -10px"/></a>
            </span>
            <ul class="nav-links">
                <li>
                    <a href="../index.html#inicio" id="pri" class="active cir_border">Ínicio</a>
                </li>
                <li><a href="../index.html#historia" id="sec" class="cir_border">História</a></li>
                <li>
                    <a href="../index.html#conhecer" id="tri" class="cir_border">Conhecer</a>
                </li>
                <li>
                    <a href="../index.html#ondeir" id="quad" class="cir_border">Onde Ir</a>
                </li>
                <li><a href="../index.html#informacoes" id="quint" class="cir_border">Informações</a></li>
                </li>
                <li><a href="../index.html#contribution" id="sext" class="cir_border">Criadores</a></li>
                </li>
            </ul>
            <img src="../img/menu-btn.png" alt="" class="menu-btn" />
        </nav>
        <!-- Fim Barra de Navegação-->
		
		<div class="texto-container">
			<div class="title texto-container">
				<h1> Mercado Central </h1>
				<div class="line"></div>	
			</div>
		<p id="texto" class="texto">
				<p> Com mais de 400 lojas, o Mercado Central é um dos pontos comerciais mais procurados deBelo Horizontee recebe todos os dias
				da semana um público de todas as partes de Minas Gerais e do mundo, que consegue unir suas compras ao lazer e à diversão, 
				percorrendo os corredores temáticos como o dos queijos, doce, artesanato, ervas, raízes, artigos religiosos, e as praças, 
				como a da feijoada e a do abacaxi. Lado a lado com bancas coloridas de hortifrutigranjeiros sempre frescos, o visitante 
				dispõe de um completo estoque dos mais variados produtos típicos da culinária mineira. Dentre os produtos mais procurados 
				estão a goiabada, a cachaça da roça e o famoso queijo minas.</p>
		</div>
	
		<!-- Galeria -->
		<div class="galeria">
			<div class="main">
				<img src="../img/pontos-turisticos/mercado-cantral-1.png" alt="Mercado Central" class="main-image"> 
			</div>
			<div class="side">
				<div class="top">
					<img src="../img/pontos-turisticos/mercado-cantral-2.png" alt="Mercado Central" class="main-image"> 
				</div>
				<div class="bottom">
					<img src="../img/pontos-turisticos/mercado-cantral-3.jpg" alt="Mercado Central" class="main-image"> 
				</div>
			</div>
		</div>
		<!-- Fim Galeria -->
	
	<!-- Info -->
		<div class="ponto-turistico-conteudo">
        <div class="main">
			<h2>Informações </h2>
			<p> Visitas Guiadas para Turistas, Moradores e Estudantes: Para que turistas e belo-horizontinos tenham uma grande experiência 
			cultural e usufruam do que Minas tem de melhor, o Mercado Central oferece o serviço de visitas guiadas por guias bilíngues, 
			realizadas de segunda a sábado, das 9h às 17h, e aos domingos e feriados, das 9h às 13h, para grupos de até 20 pessoas por vez.
			O agendamento deve ser feito pelo e-mailmercadocentral.info@gmail.com. Já os estudantes de BH e região podem participar do 
			Projeto “Consumidor do Futuro”. Nele, as instituições de ensino são recebidas no Mercado, para que os alunos conheçam esse
			centro comercial, turístico e cultural que é parte indispensável da história da cidade onde vivem.</p>
			<div class="line2"></div>
			<p><i class="fa-regular fa-clock"></i>Horário de funcionamento:</br>
			Segunda, Terça, Quarta, Quinta, Sexta, Sábado: 08:00 - 18:00</br>
			Domingo, Feriado: 08:00 - 13:00</br></p>
			
			<div class="line2"></div>
			
			<div class="#">
				<h2>Saiba mais</h2>

				<div class="faq-item">
					<button class="faq-question">
						Localização
						<i class="fas fa-chevron-down"></i>
					</button>
					<div class="faq-answer">
						<p>Urbana</br>
						Avenida Augusto de Lima , 744 - Centro</br>
						CEP 30.190-001 - Belo Horizonte - MG</p>
					</div>
				</div>

				<div class="faq-item">
					<button class="faq-question">
						Atividades realizadas
						<i class="fas fa-chevron-down"></i>
					</button>
					<div class="faq-answer">
						<p>Visitação e conhecimento da cultura de Minas Gerais. Espaço expositivo, compras de produtos típicos, experiências gastronômicas e eventos.</p>
					</div>
				</div>

				<div class="faq-item">
					<button class="faq-question">
						Ponto de referência
						<i class="fas fa-chevron-down"></i>
					</button>
					<div class="faq-answer">
						<p>Próximo ao Minascentro.</p>
					</div>
				</div>

				<div class="faq-item">
					<button class="faq-question">
						Observação sobre funcionamento
						<i class="fas fa-chevron-down"></i>
					</button>
					<div class="faq-answer">
						<p>Visitas guiadas devem ser agendadas com antecedêcia, de acordo com a disponibilidade de horários, através do email agendamento@mercadocentral.com.br</p>
					</div>
				</div>
			</div>
		</div>
		<div class="side">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15004.12895912909!2d-43.9431479!3d-19.9230462!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa699e2031e3d03%3A0x8e6ca6c58d640160!2sMercado%20Central%20de%20Belo%20Horizonte!5e0!3m2!1spt-BR!2sbr!4v1731696783308!5m2!1spt-BR!2sbr" width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	           
        </div>
    </div>
	<!-- Fim Info  -->
	
	<!-- Carrosel  -->
	<div class="container">
		<div id="slide_pturisticos" class="slide_pturisticos">
			<div class="title texto-container">
				<h2 class="title"> Mais lugares para explorar em Belo Horizonte</h2>
				<div class="title">
					<h2 class="dark">Confira também</h2>
					<div class="line"></div>
				</div>
			</div>
			<div class="wrapper">
				<div id="slides" class="slides">
					<div class="slide">
						<a href="./bares-e-botecos.html">
							<img src="../img/pontos-turisticos/slide-bares.jpg" alt="Slide 1">
							<div class="info">
								<h1>Bares e Botecos </h1>
								<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
								<a href="#">Ver Mais</a>
							</div>
						</a>
					</div>
				
					<div class="slide">
						<a href="./cafeterias-padarias.html">
							<img src="../img/pontos-turisticos/slide-cafeterias.jpg" alt="Slide 2">
							<div class="info">
								<h1> Cafeterias e Padarias </h1>
								<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
								<a href="#">Ver Mais</a>
							</div>
						</a>
					</div>
					<div class="slide">
						<a href="./feiras-livres.html">
							<img src="../img/pontos-turisticos/slide-feiras.jpg" alt="Slide 1">
							<div class="info">
								<h1>Feiras Livres</h1>
								<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
								<a href="#">Ver Mais</a>
							</div>
						</a>
					</div>			
					<div class="slide">
						<a href="./mercados-locais.html">
							<img src="../img/pontos-turisticos/slide-mercados.jpg" alt="Slide 2">
							<div class="info">
								<h1>Mercados Locais</h1>
								<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
								<a href="#">Ver Mais</a>
							</div>
						</a>
					</div>
					<div class="slide">
						<a href="./restaurantes-mineiros.html">
							<img src="../img/pontos-turisticos/slide-restaurantes.jpg" alt="Slide 1">
							<div class="info">
								<h1>Restaurantes Mineiros</h1>
								<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
								<a href="#">Ver Mais</a>
							</div>
						</a>
					</div>
				</div>
			</div>
			<a id="prev" class="control prev">←</a>
			<a id="next" class="control next">→</a>
		</div> 
	</div>
	<!-- Fim Carrosel  -->
	
	<!-- Footer  -->	
	<footer>
		<div id="footer_content">
			<div id="footer_contacts">
				<h1>Partiu BH?</h1>
				<p>Encantos, Sabores e Histórias em Cada Esquina!</p>

				<div id="footer_social_media">
					<a href="#" class="footer-link" id="instagram">
						<i class="fa-brands fa-instagram"></i>
					</a>

					<a href="#" class="footer-link" id="facebook">
						<i class="fa-brands fa-facebook-f"></i>
					</a>

					<a href="#" class="footer-link" id="whatsapp">
						<i class="fa-brands fa-whatsapp"></i>
					</a>
				</div>
			</div>
			
			<ul class="footer-list">
				<li>
					<h3>Ajuda</h3>
				</li>
				<li>
					<a href="#" class="footer-link">Mapa</a>
				</li>
				<li>
					<a href="#" class="footer-link">Saúde</a>
				</li>
				<li>
					<a href="#" class="footer-link">Segurança</a>
				</li>
			</ul>

			<ul class="footer-list">
				<li>
					<h3>Assuntos</h3>
				</li>
				<li>
					<a href="#" class="footer-link">Blog</a>
				</li>
				<li>
					<a href="#" class="footer-link">Notícias</a>
				</li>
				<li>
					<a href="#" class="footer-link">Agenda de Eventos</a>
				</li>
			</ul>

			<div id="footer_subscribe">
				<h3>Inscreva-se</h3>

				<p>
					Insira seu e-mail abaixo para ser
					notificado sobre novidades e eventos
				</p>

				<div id="input_group">
					<input type="email" id="email">
					<button>
						<i class="fa-regular fa-envelope"></i>
					</button>
				</div>
			</div>
		</div>

		<div id="footer_copyright">
			&#169
			2024 all rights reserved
		</div>
	</footer>	
		  
	
		<script>
			const menuBtn = document.querySelector(".menu-btn");
			const navlinks = document.querySelector(".nav-links");

			menuBtn.addEventListener("click", () => {
				navlinks.classList.toggle("mobile-menu");
			});
			
			
		//** FAQ
			const faqButtons = document.querySelectorAll('.faq-question');

			faqButtons.forEach(button => {
				button.addEventListener('click', () => {
			
					const answer = button.nextElementSibling;

					answer.style.display = (answer.style.display === 'block') ? 'none' : 'block';
				});
		});
									
		//** Carrosel			
			let currentIndex = 0; 
			const slides = document.querySelectorAll('.slide'); 
			const totalSlides = slides.length; 
			const slideWrapper = document.querySelector('.wrapper'); 
		
			const slideWidth = 283; 
			const slidesVisible = 4; 

			// Função para mover o slide
			function moveSlide(direction) {
				currentIndex += direction;

				
				if (currentIndex >= totalSlides - slidesVisible + 1) {
					currentIndex = 0;
				} else if (currentIndex < 0) {
					currentIndex = totalSlides - slidesVisible;
				}		
				slideWrapper.style.transform = `translateX(-${currentIndex * slideWidth}px)`; 
			}

			// Controle automático do slide
			function autoSlide() {
				setInterval(() => {
					moveSlide(1); 
				}, 5000); 
			}

			// Navegação
			document.getElementById('prev').addEventListener('click', () => moveSlide(-1)); 
			document.getElementById('next').addEventListener('click', () => moveSlide(1));  

			autoSlide();
		
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
