<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Partiu BH?</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/style2.css" />
        <link rel="stylesheet" href="../css/responsive.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png"/>
        <link rel="icon" type="../image/png" sizes="32x32" href="../img/favicon-32x32.png"/>
        <link rel="icon" type="../image/png" sizes="16x16" href="../img/favicon-16x16.png"/>
        <link rel="manifest" href="/site.webmanifest" />	
    </head>
    <body onload='if (window.location.href.substr(window.location.href.length - 6) == "#about") { introAboutLogoTransition(); }'>
        <!-- Barra de Navegação-->
        <nav class="navbar glass" style="height: 70px">
            <span>
                <a href="#inicio" style="display: flex; align-items: center">
                   <h1 class="logo">&nbsp;Partiu BH?</h1>
                   <img class="img2" src="../img/logo.png" width="60" style="margin: -25px -20px -25px -10px"/></a>
            </span>
            <ul class="nav-links">
                <li>
                    <a href="../index.html#inicio" id="pri" class="active cir_border">Ínicio</a>
                </li>
                <li><a href="../index.html#historia" id="sec" class="cir_border">História</a></li>
                <li>
                    <a href="../index.html#conhecer" id="tri" class="cir_border">Conhecer</a>
                </li>
                <li>
                    <a href="../index.html#ondeir" id="quad" class="cir_border">Onde Ir</a>
                </li>
                <li><a href="../index.html#informacoes" id="quint" class="cir_border">Informações</a></li>
                </li>
                <li><a href="../index.html#contribution" id="sext" class="cir_border">Criadores</a></li>
                </li>
            </ul>
            <img src="../img/menu-btn.png" alt="" class="menu-btn" />
        </nav>
        <!--Barra de Navegação-->
		
		<!-- Campo Texto  -->		
		<div class="texto-container">
			<div class="title texto-container">
				<h1> Encontre os melhores pontos turisticos </h1>
				<div class="line"></div>	
			</div>

			<div id="texto" class="texto">
				<p> Belo Horizonte é surpreendente. Uma cidade que conjuga, como nenhuma outra, os verbos receber, conquistar e inovar...
				A capital de Minas Gerais combina os substantivos estilo e qualidade de vida, gastronomia e criatividade, diversidade e hospitalidade, aconchego e 
				infraestrutura. Com ampla oferta de atrativos e serviços turísticos, é um dos principais centros de realização de eventos do país. Desde 2016, 
				integra o catálogo dos Patrimônios Culturais da Humanidade, título concedido pela Unesco ao Conjunto Moderno da Pampulha, 
				composto pela Igreja de São Francisco de Assis, Casa do Baile, Museu de Arte da Pampulha e Iate Tênis Clube. 
				Alguns atrativos que você não pode deixar de visitar se estiver em nossa queria beagá são a Praça do Papa, o Circuito Cultural Praça da Liberdade e
				o Parque Serra do Curral. Além disso, a capital integra a Rota das Grutas de Peter Lund, sendo o Museu de Ciências Naturais da PUC, no bairro Coração 
				Eucarístico, o marco 0 da Rota</p>
				
				<div id="maisTexto" class="texto-oculto">
				<p> Capital mundial dos bares, conquista visitantes de todo o mundo com sua alegria e espontaneidade: uma identidade singular que oferece uma experiência turística
				completa. Cosmopolista e plural, possui o segundo maior circuito LGBT+ do Brasil, de acordo com o ranking 
				da Rede de Comunicação Guiya, ficando à frente de destinos como Rio de Janeiro.
				Em julho, a Parada de Orgulho LGBT+ colore as ruas com milhares de pessoas.</p>
				
				<p>Capital mundial dos bares, conquista visitantes de todo o mundo com sua alegria e espontaneidade: uma identidade singular que oferece uma experiência
				turística completa. Cosmopolista e plural, possui o segundo maior circuito LGBT+ do Brasil, de acordo com o ranking da Rede de Comunicação Guiya, 
				ficando à frente de destinos como Rio de Janeiro. Em julho, a Parada de Orgulho LGBT+ colore as ruas com milhares de pessoas.</p>
				
				<p> Quer se surpreender ainda mais? Belo Horizonte tem hoje um dos maiores e melhores carnavais de rua do Brasil- uma pesquisa do Google realizada 
				em 2017 apontou a festa como a segunda melhor do Brasil, atrás apenas de Salvados e à frente de Rio de Janeiro e São Paulo.
				</p>
				
				<p> Não para por aí: em junho, o maior festejo junino do Sudeste oferece um espetáculo aos olhos e ao pladar com o Arraial de Belo Horizonte.
				Referência em moda, celeiro de startups, palco de grandes shows e manifestações populares, está é a cidade onde você poderá curtir uma 
				mesinha simples de buteco, deliciar-se com pratos criados por alguns dos chefs mais talentosos e inovadores do Brasil- não é atoa que 
				foi eleita Cidade Criativa da Gastronimia pela Unesco- , conhecer o trabalho incrível de artesãos locais e ainda conferir exposições internacionais.</p></div>
			</div>
			<button id="btnTexto" class="card-button">Ler mais</button>
		</div>
		<!-- Fim do Campo de Texto -->
  	
		<!-- Pontos Turisticos -->
		<div class="container pontos_turisticos">
			<div class="ondeir" id="ondeir">
				

					<div class="image-gallery">
						<div class="single-galeria">
							<a href="./conjunto-arquitetonico-pampulha.html">
								<img src="../img/pontos-turisticos/conjunto-arquitetonico-pampulha-1.jpg" alt="Conjunto Arquitetônico da Pampulha" />
								<div class="info">
									<h1>Conjunto Arquitetônico da Pampulha</h1>
									<p>Conheça os lugares imperdíveis de visitar na capital mineira</p>
									<a href="#">Ver Mais</a>
								</div>
							</a>
						</div>
						<div class="single-galeria">
							<a href="./mercado_central.html">
								<img src="../img/pontos-turisticos/mercado-cantral-1.png" alt="Mercado Central" />
								<div class="info">
									<h1>Mercado Central</h1>
									<p>É é um dos lugares mais tradicionais de BH, perfeito para quem quer sentir a cultura mineira de perto.</p>
									<a href="#">Ver Mais</a>
								</div>
							</a>
						</div>
						<div class="single-galeria">
							<a href="./mirante-do-mangabeiras.html">
								<img src="../img/pontos-turisticos/mirante-do-mangabeiras-1.jpg" alt="Mirante dos Mangabeiras" />
								<div class="info">
									<h1> Mirante do Mangabeiras </h1>
									<p>Proporciona uma vista incrível de BH. É o lugar ideal para quem quer ver o pôr do sol e ter uma vista panorâmica da cidade.</p>
									<a href="#">Ver Mais</a>
								</div>
							</a>
						</div>
						<div class="single-galeria">
							<a href="#">
								<img src="../img/pontos-turisticos/parque-das-mangabeiras-1.jpg" alt="Parque das Mangabeiras" />
								<div class="info">
									<h1>Parque das Mangabeiras</h1>
									<p>Um dos maiores parques urbanos da América Latina. Além de trilhas e áreas verdes, ele oferece uma boa dose de natureza no meio da cidade. </p>
									<a href="#">Ver Mais</a>
								</div>
							</a>
						</div>
						<div class="single-galeria">
							<a href="#">
								<img src="../img/pontos-turisticos/americo-renne-1.jpg" alt="Parque Municipal Américo Renné Giannetii" />
								<div class="info">
									<h1>Parque Municipal Américo Renné Giannetii</h1>
									<p>Com lagos, jardins e um pequeno teatro, é um ótimo lugar para piqueniques e caminhadas.</p>
									<a href="#">Ver Mais</a>
								</div>
							</a>
						</div>
						<div class="single-galeria">
							<a href="#">
								<img src="../img/pontos-turisticos/praca-do-papa-1.jpg" alt="Praça do Papa" />
								<div class="info">
									<h1>Praça do Papa</h1>
									<p>Oferece uma visão panorâmica de BH e é um lugar ideal para relaxar.</p>
									<a href="#">Ver Mais</a>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Pontos Turisticos -->

			<!-- Carrosel -->
			<div class="container mais_pontos">
				<div id="slide_pturisticos" class="slide_pturisticos">
					<h2 class="title"> Mais lugares para explorar em Belo Horizonte</h2>
					<div class="title">
						<h2 class="dark">Confira também</h2>
						<div class="line"></div>
					</div>
					<div class="wrapper">
						<div id="slides" class="slides">
							<div class="slide">
								<a href="./bares-e-botecos.html">
									<img src="../img/pontos-turisticos/slide-bares.jpg" alt="Slide 1">
									<div class="info">
										<h1>Bares e Botecos </h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
						
							<div class="slide">
								<a href="./cafeterias-padarias.html">
									<img src="../img/pontos-turisticos/slide-cafeterias.jpg" alt="Slide 2">
									<div class="info">
										<h1> Cafeterias e Padarias </h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
							<div class="slide">
								<a href="./feiras-livres.html">
									<img src="../img/pontos-turisticos/slide-feiras.jpg" alt="Slide 1">
									<div class="info">
										<h1>Feiras Livres</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>			
							<div class="slide">
								<a href="./mercados-locais.html">
									<img src="../img/pontos-turisticos/slide-mercados.jpg" alt="Slide 2">
									<div class="info">
										<h1>Mercados Locais</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
							<div class="slide">
								<a href="./restaurantes-mineiros.html">
									<img src="../img/pontos-turisticos/slide-restaurantes.jpg" alt="Slide 1">
									<div class="info">
										<h1>Restaurantes Mineiros</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
						</div>
					</div>
					<a id="prev" class="control prev">←</a>
					<a id="next" class="control next">→</a>
				</div> 
			</div>
			<!-- Fim Carrosel -->
			
			<!-- Roda pé -->
			<footer>
				<div id="footer_content">
					<div id="footer_contacts">
						<h1>Partiu BH?</h1>
						<p>Encantos, Sabores e Histórias em Cada Esquina!</p>
		
						<div id="footer_social_media">
							<a href="#" class="footer-link" id="instagram">
								<i class="fa-brands fa-instagram"></i>
							</a>
		
							<a href="#" class="footer-link" id="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
		
							<a href="#" class="footer-link" id="whatsapp">
								<i class="fa-brands fa-whatsapp"></i>
							</a>
						</div>
					</div>
					
					<ul class="footer-list">
						<li>
							<h3>Ajuda</h3>
						</li>
						<li>
							<a href="#" class="footer-link">Mapa</a>
						</li>
						<li>
							<a href="#" class="footer-link">Saúde</a>
						</li>
						<li>
							<a href="#" class="footer-link">Segurança</a>
						</li>
					</ul>
		
					<ul class="footer-list">
						<li>
							<h3>Assuntos</h3>
						</li>
						<li>
							<a href="#" class="footer-link">Blog</a>
						</li>
						<li>
							<a href="#" class="footer-link">Notícias</a>
						</li>
						<li>
							<a href="#" class="footer-link">Agenda de Eventos</a>
						</li>
					</ul>
		
					<div id="footer_subscribe">
						<h3>Inscreva-se</h3>
		
						<p>
							Insira seu e-mail abaixo para ser
							notificado sobre novidades e eventos
						</p>
		
						<div id="input_group">
							<input type="email" id="email">
							<button>
								<i class="fa-regular fa-envelope"></i>
							</button>
						</div>
					</div>
				</div>
		
				<div id="footer_copyright">
					&#169
					2024 all rights reserved
				</div>
			</footer>		

	
        <script>
			const menuBtn = document.querySelector(".menu-btn");
			const navlinks = document.querySelector(".nav-links");

			menuBtn.addEventListener("click", () => {
				navlinks.classList.toggle("mobile-menu");
			});
			
				
		//**Ocultar conteudo do paragrafo*/
			document.getElementById('btnTexto').addEventListener('click', function() {
			  var maisTexto = document.getElementById('maisTexto');
			  var botao = document.getElementById('btnTexto');
			  var texto = document.getElementById('texto');
			  
			  if (maisTexto.style.display === 'none' || maisTexto.style.display === '') {
				maisTexto.style.display = 'inline';
				botao.textContent = 'Ler menos';
				texto.classList.remove('com-fade');
			  } else {
				maisTexto.style.display = 'none';
				botao.textContent = 'Ler mais';
				texto.classList.add('com-fade');
			  }
			});
				

		//** Carrosel			
			let currentIndex = 0; 
			const slides = document.querySelectorAll('.slide'); 
			const totalSlides = slides.length; 
			const slideWrapper = document.querySelector('.wrapper'); 
		
			const slideWidth = 283; 
			const slidesVisible = 4; 

			// Função para mover o slide
			function moveSlide(direction) {
				currentIndex += direction;

				
				if (currentIndex >= totalSlides - slidesVisible + 1) {
					currentIndex = 0;
				} else if (currentIndex < 0) {
					currentIndex = totalSlides - slidesVisible;
				}		
				slideWrapper.style.transform = `translateX(-${currentIndex * slideWidth}px)`; 
			}

			// Controle automático do slide
			function autoSlide() {
				setInterval(() => {
					moveSlide(1); 
				}, 5000); 
			}

			// Navegação
			document.getElementById('prev').addEventListener('click', () => moveSlide(-1)); 
			document.getElementById('next').addEventListener('click', () => moveSlide(1));  

			autoSlide();	
		</script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
