<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Partiu BH?</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/31f005c4d5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/style2.css" />
        <link rel="stylesheet" href="../css/responsive.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png"/>
        <link rel="icon" type="../image/png" sizes="32x32" href="../img/favicon-32x32.png"/>
        <link rel="icon" type="../image/png" sizes="16x16" href="../img/favicon-16x16.png"/>
        <link rel="manifest" href="/site.webmanifest" />	
    </head>
    <body onload='if (window.location.href.substr(window.location.href.length - 6) == "#about") { introAboutLogoTransition(); }'>
        <!-- Barra de Navegação-->
        <nav class="navbar glass" style="height: 70px">
            <span>
                <a href="#inicio" style="display: flex; align-items: center">
                   <h1 class="logo">&nbsp;Partiu BH?</h1>
                   <img class="img2" src="../img/logo.png" width="60" style="margin: -25px -20px -25px -10px"/></a>
            </span>
            <ul class="nav-links">
                <li>
                    <a href="../index.html#inicio" id="pri" class="active cir_border">Ínicio</a>
                </li>
                <li><a href="../index.html#historia" id="sec" class="cir_border">História</a></li>
                <li>
                    <a href="../index.html#conhecer" id="tri" class="cir_border">Conhecer</a>
                </li>
                <li>
                    <a href="../index.html#ondeir" id="quad" class="cir_border">Onde Ir</a>
                </li>
                <li><a href="../index.html#informacoes" id="quint" class="cir_border">Informações</a></li>
                </li>
                <li><a href="../index.html#contribution" id="sext" class="cir_border">Criadores</a></li>
                </li>
            </ul>
            <img src="../img/menu-btn.png" alt="" class="menu-btn" />
        </nav>
        <!--Barra de Navegação-->

		<!--Titulo -->
		<div class="container margin-menu restaurante-container">
            <div class="title texto-container">
				<h1> Restaurantes: Belo Horizonte </h1>
                <h3> Restaurantes comida caseira </h3>
                <div class="line"></div>	
            </div>
			
			<div class="container bar_filtro"> 
				<div>
					
					<button class="card-button"><i class="fa-solid fa-sliders"></i> Todos os Filtros </button>
				</div>
				<div>
					<button class="card-button"> Ver Tudo </button>
				</div>
			</div>
		</div>
		
		<!-- Restaurantes comida tipica  -->		
		<div class="restaurante-container">
			<!-- Card 1 -->
			<div class="restaurante-card">
				<a href="./dona-lucinha.html">
					<img src="../img/restaurantes/rest-dona-lucinha-01.jpg" alt="restaurante dona lucinha">
					<h3> Dona Lucinha </h3>
					<div class="desc">
						<p>4,5<span class="stars">★★★★★</span></p><p> Avaliações</p>
					</div>			
					<div class="desc">
						<p><i class="fa-solid fa-utensils"></i><strong>Culinária:</strong> Mineira -  
						</i><strong>Preço:</strong> $$$$</p>
					</div>
					<div class="desc">
						<p><i class="fa-regular fa-clock"></i><strong class="status">Aberto agora</strong></p>
					</div>
					<div class="linha"></div>
					<div class="avaliacao">
						<p>“Adorei a experiência no Casa Cheia.”</p>
						<p>“Comida excelente! O drink de frutas e sensacional!”</p>
					</div>
				</a>
			</div>
			<!-- Card 2 -->
			<div class="restaurante-card">
				<a href="./casa-cheia.html">
					<img src="../img/restaurantes/rest-casa-cheia-01.jpg" alt="Terraço Itália">
					<h3>Casa Cheia </h3>
					<div class="desc">
						<p>4,5<span class="stars">★★★★★</span></p><p> Avaliações</p>
					</div>
					<div class="desc">
						<p><i class="fa-solid fa-utensils"></i><strong>Culinária:</strong> Mineira -   
						<strong> Preço:</strong> $$$$</p>
					</div>
					<div class="desc">
						<p><i class="fa-regular fa-clock"></i><strong class="status">Aberto agora</strong></p>
					</div>
					<div class="linha"></div>
					<div class="avaliacao">
						<p>“Adorei a experiência no Casa Cheia.”</p>
						<p>“Comida excelente! O drink de frutas e sensacional!”</p>
					</div>
				</a>
			</div>
			<!-- Card 3 -->
			<div class="restaurante-card">
				<a href="./xapuri.html">
					<img src="../img/restaurantes/rest-xapuri-01.jpg" alt="Adega Santiago Shopping Cidade Jardim">
					<h3>Xapuri </h3>
					<div class="desc">
						<p>4,5<span class="stars">★★★★★</span></p><p> Avaliações</p>
					</div>
					<div class="desc">
						<p><i class="fa-solid fa-utensils"></i><strong>Culinária:</strong> Mineira  -  
						<strong>Preço:</strong> $$$$</p>
					</div>
					<div class="desc">
						<p><i class="fa-regular fa-clock"></i><strong class="status">Aberto agora</strong></p>
					</div>
					<div class="linha"></div>
					<div class="avaliacao">
						<p>“Adorei a experiência no Casa Cheia.”</p>
						<p>“Comida excelente! O drink de frutas e sensacional!”</p>
					</div>
				</a>
			</div>
			<!-- Card 4 -->
			<div class="restaurante-card">
				<a href="./view/resrtaurante-xapuri.html">
					<img src="../img/restaurantes/rest-paladino-01.jpg" alt="Skye Restaurant & Bar">
					<h3>Paladino </h3>
					<div class="desc">
						<p>4,5<span class="stars">★★★★★</span></p><p> Avaliações</p>
					</div>
					<div class="desc">
						<p><i class="fa-solid fa-utensils"></i><strong>Culinária:</strong> Mineira  -
						</i><strong>Preço:</strong> $$$$</p>
					</div>
					<div class="desc">
						<p><i class="fa-regular fa-clock"></i><strong class="status">Aberto agora</strong></p>
					</div>
					<div class="linha"></div>
					<div class="avaliacao">
						<p>“Adorei a experiência no Casa Cheia.”</p>
						<p>“Comida excelente! O drink de frutas e sensacional!”</p>
					</div>
				</a>
			</div>
			<!-- Card 5 -->
			<div class="restaurante-card">
				<a href="./view/resrtaurante-xapuri.html">
					<img src="../img/restaurantes/rest-caipira-xique-01.jpg" alt="Terraço Itália">
					<h3>Caipira Xique </h3>
					<div class="desc">
						<p>4,5<span class="stars">★★★★★</span></p><p> Avaliações</p>
					</div>
					<div class="desc">
						<p><i class="fa-solid fa-utensils"></i><strong>Culinária:</strong> Mineira  -
						<strong>Preço:</strong> $$$$</p>
					</div>
					<div class="desc">
						<p><i class="fa-regular fa-clock"></i><strong class="status">Aberto agora</strong></p>
					</div>
					<div class="linha"></div>
					<div class="avaliacao">
						<p>“Adorei a experiência no Casa Cheia.”</p>
						<p>“Comida excelente! O drink de frutas e sensacional!”</p>
					</div>
				</a>
			</div>
			<!-- Card 6 -->
			<div class="restaurante-card">
				<a href="../img/restaurantes/resrtaurante-xapuri.html">
					<img src="../img/restaurantes/rest-xico-kafua-01.jpg" alt="Adega Santiago Shopping Cidade Jardim">
					<h3>Xico da Kafua </h3>
					<div class="desc">
						<p>4,5<span class="stars">★★★★★</span></p><p> Avaliações</p>
					</div>
					<div class="desc">
						<p><i class="fa-solid fa-utensils"></i><strong>Culinária:</strong> Mineira - 
						<strong>Preço:</strong> $$$$</p>
					</div>
					<div class="desc">
						<p><i class="fa-regular fa-clock"></i><strong class="status">Aberto agora</strong></p>
					</div>
					<div class="linha"></div>
					<div class="avaliacao">
						<p>“Adorei a experiência no Casa Cheia.”</p>
						<p>“Comida excelente! O drink de frutas e sensacional!”</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Fim Restaurantes comida tipica  -->	
	
		<!-- Carrosel -->
			<div class="container mais_pontos">
				<div id="slide_pturisticos" class="slide_pturisticos">
					<h2 class="title"> Mais lugares para explorar em Belo Horizonte</h2>
					<div class="title">
						<h2 class="dark">Confira também</h2>
						<div class="line"></div>
					</div>
					<div class="wrapper">
						<div id="slides" class="slides">
							<div class="slide">
								<a href="./bares-e-botecos.html">
									<img src="../img/pontos-turisticos/slide-bares.jpg" alt="Slide 1">
									<div class="info">
										<h1>Bares e Botecos </h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
						
							<div class="slide">
								<a href="./cafeterias-padarias.html">
									<img src="../img/pontos-turisticos/slide-cafeterias.jpg" alt="Slide 2">
									<div class="info">
										<h1> Cafeterias e Padarias </h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
							<div class="slide">
								<a href="./feiras-livres.html">
									<img src="../img/pontos-turisticos/slide-feiras.jpg" alt="Slide 1">
									<div class="info">
										<h1>Feiras Livres</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>			
							<div class="slide">
								<a href="./mercados-locais.html">
									<img src="../img/pontos-turisticos/slide-mercados.jpg" alt="Slide 2">
									<div class="info">
										<h1>Mercados Locais</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
							<div class="slide">
								<a href="./restaurantes-mineiros.html">
									<img src="../img/pontos-turisticos/slide-restaurantes.jpg" alt="Slide 1">
									<div class="info">
										<h1>Restaurantes Mineiros</h1>
										<p>Veja a reunião do melhor de Minas, comidas típicas, artesanato, cultura e a tradição em um só lugar</p>
										<a href="#">Ver Mais</a>
									</div>
								</a>
							</div>
						</div>
					</div>
					<a id="prev" class="control prev">←</a>
					<a id="next" class="control next">→</a>
				</div> 
			</div>
		 <!-- Fim Carrosel -->

		<!-- Mais restaurantes -->
		<div class="container bares restaurante-container">
			<div class="container bar_filtro"> 
				<div>
					<h2 class=""> Ótimos em Belo Horizonte </h2>
					<div class="line"></div>				
				</div>
				
				<div> 
					<button class="card-button"> Ver Tudo </button>
				</div>
			</div>
		</div>
 
		<div class="restaurante-container">
			<!-- Card 1 -->
			<div class="restaurante-card">
				<a href="./view/resrtaurante-xapuri.html">
					<img src="../img/restaurantes/rest-gastro-hub.jpg" alt="restaurante dona lucinha">
					<h3> Gastrô Hub </h3>
					<div class="desc">
						<p>4,5<span class="stars">★★★★★</span></p><p> Avaliações</p>
					</div>			
					<div class="desc">
						<p><i class="fa-solid fa-utensils"></i><strong>Culinária:</strong> Italiana, Chinesa
 -  
						</i><strong>Preço:</strong> $$$$</p>
					</div>
					<div class="desc">
						<p><i class="fa-regular fa-clock"></i><strong class="status">Aberto agora</strong></p>
					</div>
					<div class="linha"></div>
					<div class="avaliacao">
						<p>“Maravilha”</p>
						<p>“Excelente estabelecimento”</p>
					</div>
				</a>
			</div>
			<!-- Card 2 -->
			<div class="restaurante-card">
				<a href="../img/restaurantes/resrtaurante-xapuri.html">
					<img src="../img/restaurantes/dal-grano.jpg" alt="Terraço Itália">
					<h3>Dal Grano </h3>
					<div class="desc">
						<p>4,5<span class="stars">★★★★★</span></p><p> Avaliações</p>
					</div>
					<div class="desc">
						<p><i class="fa-solid fa-utensils"></i><strong>Culinária:</strong> Italiana, Pizza -   
						<strong> Preço:</strong> $$$$</p>
					</div>
					<div class="desc">
						<p><i class="fa-regular fa-clock"></i><strong class="status">Aberto agora</strong></p>
					</div>
					<div class="linha"></div>
					<div class="avaliacao">
						<p>“Maravilhosa comida”</p>
						<p>“Maravilhoso! Recomendo!”</p>
					</div>
				</a>
			</div>
			<!-- Card 3 -->
			<div class="restaurante-card">
				<a href="./view/resrtaurante-xapuri.html">
					<img src="../img/restaurantes/rest-macelleria_lourdes.jpg" alt="Adega Santiago Shopping Cidade Jardim">
					<h3>La Macelleria Lourdes </h3>
					<div class="desc">
						<p>4,5<span class="stars">★★★★★</span></p><p> Avaliações</p>
					</div>
					<div class="desc">
						<p><i class="fa-solid fa-utensils"></i><strong>Culinária:</strong> Brasileira -  
						<strong>Preço:</strong> $$$$</p>
					</div>
					<div class="desc">
						<p><i class="fa-regular fa-clock"></i><strong class="status">Aberto agora</strong></p>
					</div>
					<div class="linha"></div>
					<div class="avaliacao">
						<p>“Adorei a experiência no Casa Cheia.”</p>
						<p>“Comida excelente! O drink de frutas e sensacional!”</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Fim Mais Restaurantes  -->	
  
  
		<!-- Footer  -->	
		<footer>
            <div id="footer_content">
                <div id="footer_contacts">
                    <h1>Partiu BH?</h1>
                    <p>Encantos, Sabores e Histórias em Cada Esquina!</p>
    
                    <div id="footer_social_media">
                        <a href="#" class="footer-link" id="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
    
                        <a href="#" class="footer-link" id="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
    
                        <a href="#" class="footer-link" id="whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
                
                <ul class="footer-list">
                    <li>
                        <h3>Ajuda</h3>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Mapa</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Saúde</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Segurança</a>
                    </li>
                </ul>
    
                <ul class="footer-list">
                    <li>
                        <h3>Assuntos</h3>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Notícias</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Agenda de Eventos</a>
                    </li>
                </ul>
    
                <div id="footer_subscribe">
                    <h3>Inscreva-se</h3>
    
                    <p>
                        Insira seu e-mail abaixo para ser
                        notificado sobre novidades e eventos
                    </p>
    
                    <div id="input_group">
                        <input type="email" id="email">
                        <button>
                            <i class="fa-regular fa-envelope"></i>
                        </button>
                    </div>
                </div>
            </div>
    
            <div id="footer_copyright">
                &#169
                2024 all rights reserved
            </div>
        </footer>
		  
		<script>
			const menuBtn = document.querySelector(".menu-btn");
			const navlinks = document.querySelector(".nav-links");

			menuBtn.addEventListener("click", () => {
				navlinks.classList.toggle("mobile-menu");
			});
			
			
		//** FAQ
			const faqButtons = document.querySelectorAll('.faq-question');

			faqButtons.forEach(button => {
				button.addEventListener('click', () => {
			
					const answer = button.nextElementSibling;

					answer.style.display = (answer.style.display === 'block') ? 'none' : 'block';
				});
		});
									
		//** Carrosel			
			let currentIndex = 0; 
			const slides = document.querySelectorAll('.slide'); 
			const totalSlides = slides.length; 
			const slideWrapper = document.querySelector('.wrapper'); 
		
			const slideWidth = 283; 
			const slidesVisible = 4; 

			// Função para mover o slide
			function moveSlide(direction) {
				currentIndex += direction;

				
				if (currentIndex >= totalSlides - slidesVisible + 1) {
					currentIndex = 0;
				} else if (currentIndex < 0) {
					currentIndex = totalSlides - slidesVisible;
				}		
				slideWrapper.style.transform = `translateX(-${currentIndex * slideWidth}px)`; 
			}

			// Controle automático do slide
			function autoSlide() {
				setInterval(() => {
					moveSlide(1); 
				}, 5000); 
			}

			// Navegação
			document.getElementById('prev').addEventListener('click', () => moveSlide(-1)); 
			document.getElementById('next').addEventListener('click', () => moveSlide(1));  

			autoSlide();
		
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
